## TASK-3 [Function :]
## QST - 1
    Write a function add_numbers that takes two numbers as arguments and returns their sum.

In [198]:
  def add_numbers (a,b):
    c= a+b
    return c

In [199]:
add_numbers(5,6)

11

In [200]:
add_numbers(-5,6)

1

## QST-2
Write a function multiply_numbers that takes two numbers as arguments and returns their product.

In [201]:
  def multiply_numbers (a,b):
    c= a*b
    return c

In [202]:
multiply_numbers(5,6)

30

In [203]:
multiply_numbers(-5,6)

-30

## QSt-3
    write a function divide_numbers that takes two numbers as arguments and returns their quotient. 
    Makesure to handle the case where the second number is 0.

In [204]:
  def divide_numbers (a,b):
         if b == 0:
            return "Error: cannot divide by zero" 
         else:
            return a/b

In [205]:
print( divide_numbers(10,2))

5.0

In [206]:
print (divide_numbers(8,0))

Error: cannot divide by zero

## QST-4
Write a function calculate_average that takes a list of numbers as an argument and returns their average.

In [207]:
dhana=(1,2,3,4,5,6,7,8,9,10) 
def calculate_average(dhana):
    return sum(dhana) /len(dhana)

In [208]:
len(dhana)

10

In [209]:
calculate_average(dhana)

5.5

## QST-5
Write a function is_prime that takes a number as an argument and returns True if the number is prime andFalse otherwise.

In [210]:
def is_prime(number):
    if number < 2:
        return False
    else:
        for i in range(2, number):
            if number % i == 0:
                return False
        return True

In [211]:
is_prime(5)

True

In [212]:
is_prime(10)

False

## OOPs:
## QST-1
                Create a class Bank with attributes name and accounts. Add methods add_account, remove_account,and get_total_balance that add an account to the list, remove an account from the list, and return the totalbalance of all accounts, respectively.

In [217]:
class Bank:
    def __init__(self, name):
        self.name = name
        self.accounts = []

    def add_account(self, account):
        self.accounts.append(account)

    def remove_account(self, account):
        self.accounts.remove(account)

    def get_total_balance(self):
        total_balance = 0
        for account in self.accounts:
            total_balance += account.balance
        return total_balance

In [218]:
class Account:
    def __init__(self, balance):
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount

    def withdraw(self, amount):
        self.balance -= amount

In [219]:
my_bank = Bank('My Bank')
my_account = Account(1000)
my_bank.add_account(my_account)
print(my_bank.get_total_balance())

1000