## TASK-3 [Function :]
## QST - 1
    Write a function add_numbers that takes two numbers as arguments and returns their sum.

In [152]:
  def add_numbers (a,b):
    c= a+b
    return c

In [153]:
add_numbers(5,6)

11

In [154]:
add_numbers(-5,6)

1

## QST-2
Write a function multiply_numbers that takes two numbers as arguments and returns their product.

In [155]:
  def multiply_numbers (a,b):
    c= a*b
    return c

In [156]:
multiply_numbers(5,6)

30

In [157]:
multiply_numbers(-5,6)

-30

## QSt-3
    write a function divide_numbers that takes two numbers as arguments and returns their quotient. 
    Makesure to handle the case where the second number is 0.

In [158]:
  def divide_numbers (a,b):
         if b == 0:
            return "Error: cannot divide by zero" 
         else:
            return a/b

In [159]:
print( divide_numbers(10,2))

5.0

In [160]:
print (divide_numbers(8,0))

Error: cannot divide by zero

## QST-4
Write a function calculate_average that takes a list of numbers as an argument and returns their average.

In [161]:
dhana=(1,2,3,4,5,6,7,8,9,10) 
def calculate_average(dhana):
    return sum(dhana) /len(dhana)

In [162]:
len(dhana)

10

In [163]:
calculate_average(dhana)

5.5

## QST-5
Write a function is_prime that takes a number as an argument and returns True if the number is prime andFalse otherwise.

In [164]:
def is_prime(number):
    if number < 2:
        return False
    else:
        for i in range(2, number):
            if number % i == 0:
                return False
        return True

In [165]:
is_prime(5)

True

In [170]:
is_prime(10)

False

## OOPs:
## QST-1
                Create a class Bank with attributes name and accounts. Add methods add_account, remove_account,and get_total_balance that add an account to the list, remove an account from the list, and return the totalbalance of all accounts, respectively.

In [316]:
class Bank:
    def __init__(self, name):                                                   
        self.name = name
        self.accounts = []
    def add_account(self, account):
        self.accounts.append(account)
    def remove_account(self, account):
        self.accounts.remove(account)
    def get_total_balance(self):
         return sum(account.balance for account in self.accounts)

In [317]:
bank = Bank("My Bank")
account1 = Account(3000)
account2 = Account(2000)
bank.add_account(account1)
bank.add_account(account2)

In [318]:
print(bank.get_total_balance())

5000

In [319]:
bank.remove_account(account1)
print(bank.get_total_balance())

2000