## Task_2
# Qst-1
Create a tuple my_tuple with the values 1, 2, and 3. Print the tuple

In [1]:
My_tuple=(1,2,3)
type(My_tuple)

tuple

In [2]:
print(f'tuple{My_tuple}')

tuple(1, 2, 3)

# Qst-2
Create a set my_set with the values 1, 2, and 3. Print the set.

In [3]:
My_set={1,2,3}
type(My_set)

set

In [4]:
print( f'set{My_set}')

set{1, 2, 3}

# Qst-3
    Create a dictionary my_dict with keys "apple", "banana", and "cherry" and values 1, 2, and 3. Print thedictionary.

In [5]:
My_dict={'apple':1,'banana':2,'cherry':3}

In [6]:
My_dict.keys()

dict_keys(['apple', 'banana', 'cherry'])

In [7]:
My_dict.values()

dict_values([1, 2, 3])

In [8]:
print(f'The dictionary keys and value are {My_dict}')

The dictionary keys and value are {'apple': 1, 'banana': 2, 'cherry': 3}

# Qst - 4
    Use a for loop to print the values in my_tuple one by one.

In [9]:
My_tuple = (1,2,3,4,5)
type(My_tuple)

tuple

In [10]:
for i in My_tuple:
    print(i)

1
2
3
4
5

# Qst -5 
Use a for loop to print the values in my_set one by one.

In [11]:
My_set = {1,2,3,4,5}
type(My_set)

set

In [12]:
for i in My_set:
    print(i)

1
2
3
4
5

# Qst - 6
 Use a for loop to print the keys and values in my_dict one by one.

In [13]:
My_dict={'dhana':24,'shiva':26,'kumar':28,'kr7':30}
type(My_dict)

dict

In [58]:
for a , b  in My_dict.items():
    print(a,b)

dhana 24
shiva 26
kumar 28
kr7 30

# Qst - 7
Use a while loop to print the numbers from 1 to 10.

In [15]:
i=1
while i < 11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

# Qst -8
Use a while loop to print the even numbers from 2 to 10.

In [16]:
i=2
while i < 11:
    print(i)
    i=i+2

2
4
6
8
10

# Qst-9
Use a while loop to print the squares of the numbers from 1 to 5.

In [18]:
i=1
while i <= 5:
    print(i**2)
    i=i+1

1
4
9
16
25

# Qst - 10
Use a for loop to print the sum of the numbers in my_tuple.

In [57]:
My_tuple=(1,2,3,4,5)
sum=1
for i in My_tuple:
    print(i+sum)

2
3
4
5
6